
* {
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    letter-spacing: 2px;
    max-width: 100%;
    box-sizing: border-box
}

body {
    background-color: #f0f0f0;
    background-image: url('../images/leaves-wnt.jpg');
}

.container-fluid {
    padding: 50px 100px;
    overflow: hidden;
}

#header1 {
    position: relative;
    background-color: rgb(174, 174, 174);
    background-image: url('../images/Mountains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    color: aliceblue;
}

#header1 > span {
    position: absolute;
    right: 10%;
    font-weight: 800;
    letter-spacing: 10px;
}

#header1 #Name {
    transition-property: text-shadow;
    transition-duration: 1000ms;
    font-weight: 800;
    letter-spacing: 10px;
}

#header1 #Name:hover {
    text-shadow: 0 0 100px #fff650c3;
}

#header2 {
    background-color: rgb(73, 107, 58);
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: aliceblue;
    font-weight: 500;
    font-size: 4em;
    text-align: center;
}

#polaroid-logo {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    font-size: 11px;
    border: solid 4px white;
    border-bottom-width: 9px;
}

        /* BUT it is a Proposal header */

#header3 {
    position: relative;
    background-color: rgb(73, 107, 58);
    color: aliceblue;
    text-align: center;
    font-size: 4em;
}

#proposal-container {
    padding: 0;

}

.row {
    margin: 0 0 0 0;
    width: 100%;
}

/*All the columns editing*/

.all-col {
    position: relative;
    text-align: center;
}

/*BS columns*/

.col-lg-6 {
    position: relative;
}

.col-md-6 {
    position: relative;
}

.col-sm-12 {
    position: relative
}

/* Paws */
.paw-slide-right {
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 60%;
    height: auto;
    bottom: 20%;
    right: 85%;
}

.paw-slide-left {
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 60%;
    height: auto;
    bottom: 20%;
    left: 83%;
}

/****Proposal Paws****/

.L-paw-slide-up {
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 27%;
    height: auto;
    left: -5%;
    top: -1%;
}

.R-paw-slide-up {
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 27%;
    height: auto;
    right: -5%;
    top: -1%;
}

/* Both types of main tiles */

.photo-tile, .text-tile {
    margin: 10px 10px 0 0;   
    color: rgb(76, 31, 18);
}

/* ONLY TEXT TILES */ 

.text-tile {
    background-color: rgba(254, 254, 108, 0.473);
    background-image: url('../images/postcard.jpg');
    background-blend-mode: multiply;
    box-shadow: 0 0 10px #292929;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*ONLY PHOTO TILES */

.photo-tile {
    width: 100%;
    height: auto; 
    background-color: rgb(241, 241, 241);
    border: solid 10px rgb(241, 241, 241);
    border-bottom: rgb(241, 241, 241) solid 50px;
    box-shadow: 0 0 15px #292929;  
    transition: 130ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
}

.photo-tile:hover {
    transform: scale(105%);
    box-shadow: 0 0 10px #292929;
}

/***** PROPOSAL BLOCK *****/

.proposal-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.proposal-yes {
    position: sticky;
    background-color: rgba(254, 254, 108, 0.473);
    background-image: url('../images/postcard.jpg');
    background-blend-mode: multiply;
    box-shadow: 0 0 10px #292929;
    color: rgb(76, 31, 18);

    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    font-size: 3em;
    letter-spacing: 10px;
    font-weight: bold;

    margin: 4px 40px;
    cursor: pointer;
    transition: 200ms;
    transition-property: color, box-shadow;
    
    cursor:default;

    z-index: 0;
  }

  .proposal-yes:hover {
    color:#7e4127;
    box-shadow: 0 0 30px #ebcf5f;
  }

  .proposal-no {
    background-color: rgba(254, 254, 108, 0.473);
    background-image: url('../images/postcard.jpg');
    background-blend-mode: multiply;
    box-shadow: 0 0 10px #292929;

    color: rgb(76, 31, 18);
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
        
    font-size: 3em;
    letter-spacing: 10px;
    font-weight: bold;
    
    margin: 4px 40px;
    cursor: pointer;
    transition: 200ms;
    transition-property: color, box-shadow;

    cursor:default;

    z-index: 0;
}

.proposal-no:hover {
    color:#7e4127;
    box-shadow: 0 0 30px #ebcf5f;
  }


/*************=** Media queries ****************/

/******** Large devices only ********/

@media (min-width: 1200px) {
    #header1 {
        padding: 400px;
        padding-bottom: 440px;
        font-size: 5em;
    }

    #header2 {
        padding: 40px 40px;
    }

    #header3 {
        padding: 40px 200px;
    }
    
    .text-tile {
        font-size: 3em;
    }
}

/******** Medium devices only ********/

@media (min-width: 992px) and (max-width: 1199px) {
   
    #header1 {
        padding: 320px;
        font-size:4em;
    }

    #header2 {
        padding: 40px 30px;
        font-size:4em;
        text-align: center;
    }

    .text-tile {
        font-size: 2em;
    }

    .L-paw-slide-up {
        left: -9%;
    }

    .R-paw-slide-up {
        right: -9%;
    }
}
   
/********* Small devices only ********/

@media (min-width: 768px) and (max-width: 991px) {

    #tiles-container {
        padding: 50px;
    }

    #header1 {
        padding: 200px;
        padding-bottom: 200px;
        font-size: 3em;
    }

    #header2 {
        padding: 40px 40px 40px 40px;
        font-size:3em;
        text-align: center;
    }

    #header3 {
        padding: 20px 40px;
        font-size:2em;
        text-align: center;
    }

    .text-tile {
        font-size: 2.2em;
    }

    .proposal-block {
        padding: 10px;
        
    }
}

/********** Extra-small devices only ********/

    @media (min-width: 486px) and (max-width: 767px) {

    .container-fluid {
        padding: 30px;
    }

        
    #header1 {
        padding: 130px;
        padding-bottom: 160px;
        font-size: 2em;
    }

    #header2 {
        padding: 10px 50px;
        font-size: 2em;
        text-align: center;
    }


    #header2-text > span {
        line-height: 70px;
    }

    #polaroid-logo {
        margin-left: 20px;
        width: 45px;
        height: 45px;
        font-size: 6px;
        border: solid 4px white;
        border-bottom-width: 9px;
    }

    #header3 {
        padding: 20px 50px;
        font-size: 2em;
        text-align: center;
    }    

    .text-tile {
        font-size: 2em;
        margin-top: 10px;
        margin-bottom: 80px;
        clear: both;
        width: fit-content;
    }


    .L-paw-slide-up {
        width: 50%;
        height: auto;
        left: -18%;
        top: 40%;
    }

    .R-paw-slide-up {
        width: 50%;
        height: auto;
        right: -18%;
        top: 40%;
    }
 }    

/************ THE SMALLEST DEVICES ***********/

@media (max-width: 485px) {

    .container-fluid {
    padding: 30px;
    }
        
    #header1 {
        padding-top: 90px;
        padding-bottom: 120px;
        padding-right: 10px;
        font-size: 2em;
    }

    #header1 > span {
        letter-spacing: 5px;
    }

    #header1 #Name {
        letter-spacing: 5px;
    }

    #header2 {
        padding: 5px 10px;
        font-size: 2em;
        text-align: center;
    }

    #polaroid-logo {
        margin-left: 20px;
        width: 45px;
        height: 45px;
        font-size: 6px;
        border: solid 4px white;
        border-bottom-width: 9px;
    }

    .proposal-block {
         padding: 10px 0;
    }

    #header3 {
        padding: 10px 50px;
        font-size: 2em;
        text-align: center;
    }    

    .text-tile {
        font-size: 2em;
        margin-top: 10px;
        margin-bottom: 80px;
        clear: both;
        width: fit-content;
    }
    
    .L-paw-slide-up {
        width: 50%;
        height: auto;
        left: -18%;
        top: 40%;
    }

    .R-paw-slide-up {
        width: 50%;
        height: auto;
        right: -18%;
        top: 40%;
    }
    
    .proposal-yes {
        margin: 0 17px;
        font-size: 2em;
    }
    
    .proposal-no {
        margin: 0 17px;
        font-size: 2em;
    }    
}